---
layout: default.hbs
title: Michael Pereira - data journalist and developer
---

<div class="grid section">
    <div class="grid-col grid-col-xl-4">
        <article class="bio">
            <p class="lead-paragraph" itemprop="description">
                Data journalist and developer. I build and use tools to tell stories.
            </p>
            <p class="lead-paragraph" itemprop="description">
                Occasionally I teach and talk about data analysis & visual journalism.
            </p>
        </article>
    </div>
</div>


<div class="grid">

    <section class="section grid-col grid-col-lg-6 grid-col-xl-3 card-listing">
        <div class="card-listing-items">
            {{#each data.projects}}
                <article class="card" itemscope>
                    <div class="card-leadviz">
                        <img class="card-leadviz--image" src="assets/img/{{lead_image}}" alt="{{title}}" />
                    </div>
                    <h1 class="heading heading-primary card-heading" itemprop="name">{{title}}</h1>
                    <p itemprop="publisher">{{publisher}}</p>
                    <p itemprop="what_i_did">{{what_i_did}}</p>
                    <p itemprop="awards_recognition">{{awards_recognition}}</p>

                </article>
            {{/each}}
        </div>
        <footer class="card-listing-footer">

        </footer>
    </section>
</div>


{{> external-links}}
