---
layout: default.hbs
title: Michael Pereira - data journalist and developer
---

<div class="grid section">
    <div class="grid-col grid-col-xl-4">
        <article class="bio">
            <p>
                Building and using tools to tell stories.
            </p>
            <p>
                I write code using Javascript, Python and R. Sometimes I build bots that gather information and others that can chat. Occasionally I teach or talk about data analysis and visual journalism. I also contribute to a few open source projects.
            </p>
            <p>
                Interested in working together?  Drop me a DM or <a href="mailto:hello@monkeycycle.org">email</a>.
            </p>

        </article>
    </div>
</div>


<div class="grid">

    <section class="section grid-col grid-col-lg-6 grid-col-xl-3 card-listing">
        <div class="card-listing-items">
            <h3>Recent projects</h3>
            {{#each data.projects}}
                <article class="card" itemscope>
                    <div class="card-leadviz">
                        <img class="card-leadviz--image" src="assets/media/{{lead_image}}" alt="{{title}}" />
                    </div>
                    <div class="card-details">
                      <h1 class="heading heading-primary card-heading" itemprop="name">{{title}}</h1>
                      <p itemprop="publisher">{{publisher}}</p>
                      <p itemprop="what_i_did"><b>What I did</b> {{what_i_did}}</p>
                      <p itemprop="awards_recognition"><b>Recognition</b> {{awards_recognition}}</p>
                      <p itemprop="url"><a href="{{url}}" target="new">View project</a></p>
                    </div>
                </article>
            {{/each}}
        </div>
    </section>
</div>


{{> external-links}}
