        <div class="card-listing-items">
            <h5 id="section-featured-projects" name="section-featured-projects">Featured projects</h5>
            {{#each data.projects}}


                    <div class="card" itemscope>
                        <div class="card-leadviz">
                            <img class="card-leadviz--image" src="assets/media/{{lead_image}}" alt="Thumbnail for: {{title}}" />
                        </div>

                        <div class="card-metadata">
                            <h3 class="card-heading" itemprop="project_title">{{title}}</h3>

                            <ul class="card-details-list">
                                <li itemprop="publisher">{{publisher}}</li>
                                <li itemprop="what_i_did"><b>What I did</b> {{what_i_did}}</li>
                                <li itemprop="awards_recognition"><b>Recognition</b> {{awards_recognition}}</li>
                                <li itemprop="url"><a href="{{url}}" target="new">View project</a><li>
                            </ul>
                        </div>

                    </article>

            {{/each}}
        </div>
